---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="About me" sideBarActiveItemID="cv">

  <div class="mb-10">
    <img src="/cv/banniere.jpg" alt="About me" style="border-radius: 16px; width: 100%;" />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Hello !</div>
  </div>

  <div class="mb-10 text-justify">
    My name is Olivier, I am a Games Programmer specialising in Computer Graphics. 
    I am currently completing my bachelor's degree in video game programming.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">CV</div>
  </div>

  <div class="mb-5 flex justify-left mt-4" style="position: relative;">
    <a href="/project" class="btn btn-outline text-lg w-full max-w-xs">
      Download my CV (PDF)
    </a>
  </div>

  <!-- <div class="mb-5">
    <p style="text-align: center; margin-top: 1rem;">
      <a href="https://chocolive24.github.io/cv/CV_OlivierPachoud.pdf" download target="_blank" rel="noopener noreferrer">
        👉 Download my CV (PDF)
      </a>
    </p>
  </div> -->
 
<!-- <object data='/cv/CV_OlivierPachoud.pdf#toolbar=1' 
  type='application/pdf' 
  width='100%' height='1240px'>
</object> -->


  <iframe src="https://docs.google.com/gview?url=https://chocolive24.github.io/cv/CV_OlivierPachoud.pdf&embedded=true" 
  style="width:100%; height:1240px;" frameborder="0"></iframe>

  <!-- <iframe src="http://docs.google.com/gview?url=http://chocolive24.github.io/cv/CV_OlivierPachoud.pdf&embedded=true" 
style="width:600px; height:500px;" frameborder="0"></iframe> -->

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    />
    <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div> -->

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>C++</li>
    <li>C</li>
    <li>C#</li>
    <li>Unreal</li>
    <li>Unity</li>
    <li>Perforce</li>
    <li>Git</li>
    <li>CMake</li>
    <li>Vcpkg</li>
    <li>DirectX11-12</li>
    <li>OpenGL</li>
    <li>CUDA</li>
    <li>Python</li>
    <li>Photon Realtime</li>
    <li>Docker</li>
    <li>FastAPI</li>
  </ul> -->


</BaseLayout>
